<div class="container">
  <!-- iterate the cities -->
  <div *ngFor="let city of cities; index as i">
    <div
      [ngClass]="{ front: flippedArray[i] }"
      class="item"
      (click)="flippedArray[i] = !flippedArray[i]"
    >
      <div *ngIf="flippedArray[i]; else frontCard">
        <!-- Loading spinner when getting data from api again -->
        <div *ngIf="loading; else backCard" class="back loading">
          <div>loading...</div>
        </div>
      </div>

      <ng-template #frontCard>
        <!-- Front face of the card  -->
        <app-weather-front-card [city]="city"></app-weather-front-card>
      </ng-template>

      <ng-template #backCard>
        <!-- Back face of the card  -->
        <div class="back">
          <app-weather-back-card [city]="city"></app-weather-back-card>
        </div>
      </ng-template>
    </div>
  </div>
</div>
