.container {
  text-align: center;
}

div p {
  margin: 0;
}

.cityName {
  padding-top: 15px;
  font-size: 25px;
  font-weight: bold;
}

.todayDate {
  padding: 10px 0 5px 0;
}

.averageTemp {
  font-size: 40px;
  font-weight: bold;
  padding-top: 30px;
}

.extraInformations {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extraInformations span {
  padding: 0 15px 0 5px;
}
